/*CSS Document */

/*** typography ***/
h1 {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.6em;
  font-weight: 100;
}

.hive-cluster {
  background-image: url('../images/Hive-Case-Study-Image.jpg');
  margin-top: 10px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hivewithlogo {
  float: left;
  padding-left: 4em;
}

.biohero-container {
  background-image: url('../images/Diana-Photo.jpg');
  width: auto;
  margin-top: 3.3em;
  height: 25em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}

.hivelogo {
  color: #000000;
  font-family: 'Italiana';
  font-size: 3.8em;
  font-weight: 300;
  text-align: center;
}

#hivelogohomepage {
  text-align: center;
  position: absolute;
  padding-top: 4em;
  left: 24em;
  margin:0 auto;
}

.yellow-hive-homepage {
  background-image: url('../images/hive-background-yellow.jpg');
  width: auto;
  margin-top: 1em;
  height: 45em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}

.hero {
  color: #C34A33;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2.8em;
  font-weight: 100;
  text-align: center;
  float: right;
}

.UXArch {
  font-family: 'Yanone Kaffeesatz';
  font-size: 1.2em;
  color: #303030;
  font-weight: 100;
}

.hive-mobile {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.wfl {
  width: 100%;
  height: auto;
}


hr {
  margin-top: 50px;
  margin-bottom: 50px
}

.wfl2 {
  width: 60%;
  height: auto;
  text-align: center;
}

.wfl3 {
  width: 70%;
  height: auto;
}

.wfl4 {
  width: 100%;
  height: auto;
  padding-top: 3em;
}

.centered {
  text-align: center;
}

#homepage-title {
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
  float: left;
  position: absolute;
}

.homepage-title-Diana-Logo {
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
  float: left;
}

.name {
  color: #19675D;
  font-family: 'Yanone Kaffeesatz';
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .3em;
}

#biohero {
  color: #8A3524;
  width: 420px;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2em;
  font-weight: 100;
  float: left;
  margin-left: 1.5em;
  text-align: center;
  padding-top: 1.5em;
  display: inline-block;
}

.hive-cloud {
  text-align: center;
  line-height: 1em;
  text-align: center;
}

.hive-image {
  width: 7em;
}

h2 {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15em;
  text-align: left;
  font-weight: 100;
}

#h2homepageUXWORK {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.35em;
  font-weight: 100;
  text-align: center;
}

#h2homepageDIGHER {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.35em;
  font-weight: 100;
  text-align: center;
}

#h2homepageTECHCUL {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.35em;
  font-weight: 100;
  text-align: center;
}


.cloud {
  text-align: center;
}

.cloudtext {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  text-align: center;
  line-height: .5em;
}

.cloudproject {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 100;
  line-height: .3em;
  text-align: center;
}

.newprojects {
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 3em;
  width: 60%;
  font-weight: 50;
  text-align: center;
  line-height: 1em;
  margin: 0 auto;
  padding-top: 3.5em;
  padding-bottom: 2em;
}

#contact {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}

.titlebiopage {
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 1.6em;
  font-weight: 100;
  text-align: center;
  padding: .5em;
}

#logo-text-homepage {
  padding-top: 4em;
  vertical-align:top;
  display:inline-block;
}

.hivecasestudyh3 {
  color: #DD7F7F;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

h3 {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 100;
}

h5 {
  color: #DD7F7F;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.title {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 300;
  text-align: center;
  line-height: 1.2em;
}

.details {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 300;
  text-align: left;
  line-height: 1em;
}

p {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 300;
  text-align: justify;
}

.roles {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}

.biohighlights {
  color: #C34A33;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: left;
}

ul {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 500;
  text-align: left;
}

ol {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 500;
  text-align: left;
}

.yellow {
  color: #DAB73C;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.grey {
  color: #6E6868;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.pink {
  color: #DD7F7F;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

/*** button ***/
.button {
  background-color: #FDCFBB;
  border: 2px solid #FDCFBB;
  color: #303030;
  padding: 15px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  margin: 2px 1px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*BIO containers*/
.biohero-container {
  margin: left;
  padding-top: 2.8em;
}

.nametitle-container {
  width: auto;
  margin: center;
  line-height: 1em;
  padding-bottom: .5em;
}

.bodytext {
  width: auto;
  margin: left;
  padding-right: 100px;
  padding-left: 100px;
  text-align: justify;
}

.buttonspaces {
  position: relative;
  padding-bottom: 2em;
}

/*HOMEPAGE containers*/
.homepagehero-container {
  width:350px;
  line-height: 3em;
  vertical-align:top;
  display:inline-block;
  float:right;
}

.homepagetitle-container {
  width:auto;
}

.cloud {
  width:auto;
  line-height: .75em;
}

.new-project-cluster-Y {
  background-image: url('../images/Yellow-Triangle-Sand.jpg');
  margin-top: 10px;
  margin-bottom: 10px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-project-cluster-P {
  background-image: url('../images/Pink-Triangle-Sand.jpg');
  margin-top: 10px;
  margin-bottom: 10px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-project-cluster-B {
  background-image: url('../images/Brown-Triangle-Sand.jpg');
  margin-top: 10px;
  margin-bottom: 10px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.newprojects-container {
  position: absolute;
  padding-left: 17em;
}

.homepage-pink-links {
  width: 600px;
  margin: 0 auto;
  line-height: .75em;
  padding: 1.2em;
  color: #DD7F7F;
}

li {
    margin: 15px 0;
}

.bannerbar-G {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
  padding-left: 12em;
  line-height: 1.3em;
}

.bannerbar-G2 {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
  padding-left: 6em;
  line-height: 1.3em;
}

.bannerbar-P {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
  padding-left: 10em;
  line-height: 1.2em;
}

.bannerbar-Y {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
  padding-left: 7em;
  line-height: 1.2em;
}

.homepage-highlight-containers-long {
  width: auto;
  margin: 1em auto;
  position: absolute;
  padding-left: 2em;
  padding-top: .5em;
}

.homepage-highlight-containers-longer {
  width: auto;
  margin: 1em auto;
  position: absolute;
  padding-left: 2em;
}

.banner-bar-text-G {
  background-image: url('../images/Grey-Banner-Bar.jpg');
  margin-top: 3em;
  margin-bottom: 3em;
  height: 6em;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-bar-text-G2 {
  background-image: url('../images/Grey-Banner-Bar.jpg');
  margin-top: 3em;
  margin-bottom: 3em;
  height: 6em;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-bar-text-P {
  background-image: url('../images/Pink-Banner-Bar.jpg');
  margin-top: 3em;
  margin-bottom: 3em;
  height: 8em;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-bar-text-Y {
  background-image: url('../images/Yellow-Banner-Bar.jpg');
  margin-top: 3em;
  margin-bottom: 3em;
  height: 6em;
  background-size: cover;
  background-repeat: no-repeat;
}

.roles-container {
  width: 800px;
  margin: 0 auto;
  line-height: 1.3em;
}

/*Navigation Top Bar*/
nav {
  background-color: #ffffff;
  height: 70px;
  position: Top;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1
}

nav a{
    display: block;
    float: left;
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #fff;
    border: none;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 25px;
    text-decoration: none;
  }

.topnav {
  float:right;
}



img.resize {
  align: center;
  height: auto;
  width:40%;
}

.row {
  content: "";
  display: table;
  clear: both;
}

body {
/*font settings*/
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
}

.logo {
  border: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.column {
  float: left;
  width: 30%;
  display: block;
  padding: 10px;
}

.icon {
  border: none;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

@media screen and (min-width: 375px) {
.logohome {
  width: 60%;
  height: 60%;
}

.icon {
  border: none;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

.UXArch {
  font-family: 'Yanone Kaffeesatz';
  font-size: .8em;
  color: #303030;
  font-weight: 100;
}

.hero {
  color: #C34A33;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2em;
  font-weight: 100;
  line-height: 1em;
  text-align: center;

}

.homepagehero-container {
  width:350px;
  line-height: 3em;
  vertical-align:top;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}

.new-project-cluster-Y {
  background-image: url('../images/Mobile-triangles.jpg');
  margin-top: 10px;
  margin-bottom: 10px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-project-cluster-P {
  background-image: url('../images/Mobile-Triangle-Peach.jpg');
  margin-top: 10px;
  margin-bottom: 10px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-project-cluster-B {
  background-image: url('../images/Mobile-Triangle-Brown.jpg');
  margin-top: 10px;
  margin-bottom: 10px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.newprojects-container {
  position: absolute;
  padding-left: 1.6em;
}

.newprojects {
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2em;
  width: 60%;
  font-weight: 50;
  text-align: center;
  line-height: 1em;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
}

.button {
  background-color: #FDCFBB;
  border: 2px solid #FDCFBB;
  color: #303030;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  margin: 2px 1px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.icon {
  border: none;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.biohero-container {
  background-image: url('../images/Diana-Photo.jpg');
  width: auto;
  margin-top: 3.3em;
  height: 7em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}

.biohero-container {
  background-image: url('../images/Diana-Photo.jpg');
  width: auto;
  margin-top: 1em;
  height: 10em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}

#biohero {
  color: #8A3524;
  width: 230px;
  font-family: 'Yanone Kaffeesatz';
  font-size: 1.15em;
  font-weight: 100;
  float: left;
  margin-left: 1.5em;
  text-align: center;
  padding-top: .5em;
}

.name {
  color: #19675D;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .3em;
}

.titlebiopage {
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 1.3em;
  font-weight: 100;
  text-align: center;
  padding: .5em;
}

.bodytext {
  width: auto;
  margin: left;
  padding-right: 35px;
  padding-left: 35px;
  text-align: justify;
}

.yellow-hive-homepage {
  background-image: url('../images/hive-background-yellow.jpg');
  width: auto;
  margin-top: 2em;
  height: 15em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}

#hivelogohomepage {
  text-align: center;
  position: absolute;
  padding-top: .5em;
  left: 4.6em;
  margin:0 auto;
}

.wfl2 {
  width: 30%;
  text-align: center;
}

.hivelogo {
  color: #000000;
  font-family: 'Italiana';
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
}

.cloudproject {
  display: none;
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  line-height: .3em;
  text-align: center;
}

.homepage-pink-links {
  width: 400px;
  margin: 0 auto;
  line-height: .75em;
  padding: .1em;
  color: #DD7F7F;
}

.hivecasestudyh3 {
  color: #DD7F7F;
  font-family: 'Roboto';
  font-size: .8em;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.roles {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 100;
  text-align: center;
}

.roles-container {
  width: 350px;
  margin: 0 auto;
  line-height: 1.2em;
}

.project-headers {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.4em;
  font-weight: 100;
}

.homepage-highlight-containers-longer {
  width: auto;
  margin: 1em auto;
  position: absolute;
  padding-left: 2em;
}

.banner-bar-text-G {
  background-image: url('../images/Grey-Banner-Bar.jpg');
  margin-top: 3em;
  margin-bottom: 3em;
  height: 6em;
  background-size: cover;
  background-repeat: no-repeat;
}

.bannerbar-G {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  padding-top: .5em;
  padding-left: 1.5em;
  line-height: 1.3em;
}

.banner-bar-text-P {
  background-image: url('../images/Pink-Banner-Bar.jpg');
  margin-top: 3em;
  margin-bottom: 3em;
  height: 8em;
  background-size: cover;
  background-repeat: no-repeat;

}

.homepage-highlight-containers-long {
  width: auto;
  margin: 1em auto;
  position: absolute;
  padding-left: .5em;
  padding-top: .5em;
}

.bannerbar-P {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  padding-top: .1em;
  padding-left: .5em;
  line-height: 1.2em;
}

.details {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 300;
  text-align: justify;
  line-height: 1em;
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.column {
  display: none;
}

.banner-bar-text-Y {
  background-image: url('../images/Yellow-Banner-Bar.jpg');
  margin-top: 3em;
  margin-bottom: 3em;
  height: 6em;
  background-size: cover;
  background-repeat: no-repeat;
}

.bannerbar-Y {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  padding-left: 1em;
  line-height: 1.2em;
}

.bannerbar-G2 {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  padding-left: 1em;
  line-height: 1.3em;
}

.banner-bar-text-G2 {
  background-image: url('../images/Grey-Banner-Bar.jpg');
  margin-top: 3em;
  margin-bottom: 3em;
  height: 6em;
  background-size: cover;
  background-repeat: no-repeat;
}

}

@media screen and (min-width: 768px) {
  .logohome {
    width: 100%;
    height: 100%;
  }

  .UXArch {
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.2em;
    color: #303030;
    font-weight: 100;
  }

  .homepage-title-Diana-Logo {
    padding-left: 2em;
    padding-right: 2em;
  }

  .hero {
    color: #C34A33;
    font-family: 'Yanone Kaffeesatz';
    font-size: 2.8em;
    font-weight: 100;
    text-align: center;
    float: right;
  }

  .homepagehero-container {
    width:350px;
    line-height: 3em;
    vertical-align:top;
    display:inline-block;
  }

  .new-project-cluster-Y {
    background-image: url('../images/Mobile-Triangle-Tablet.jpg');
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .new-project-cluster-P {
    background-image: url('../images/Peach-Triangle-Tablet.jpg');
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .new-project-cluster-B {
    background-image: url('../images/Brown-Triangle-Tablet.jpg');
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .newprojects-container {
    position: absolute;
    padding-left: 11em;
  }

  .newprojects {
    color: #303030;
    font-family: 'Yanone Kaffeesatz';
    font-size: 3em;
    width: 60%;
    font-weight: 50;
    text-align: center;
    line-height: 1em;
    margin: 0 auto;
    padding-top: 2.5em;
    padding-bottom: 1em;
  }

  .button {
    background-color: #FDCFBB;
    border: 2px solid #FDCFBB;
    color: #303030;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    margin: 2px 1px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .icon {
    width: 75%;
    height: 75%;
    border: none;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
  }

  .biohero-container {
    background-image: url('../images/Diana-Photo.jpg');
    width: auto;
    margin-top: 2em;
    height: 20em;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1em;
  }

  #biohero {
    color: #8A3524;
    width: 420px;
    font-family: 'Yanone Kaffeesatz';
    font-size: 2em;
    font-weight: 100;
    float: left;
    margin-left: 1.5em;
    text-align: center;
    padding-top: 1.5em;
    display: inline-block;
  }

  .name {
    color: #19675D;
    font-family: 'Yanone Kaffeesatz';
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .3em;
  }

  .titlebiopage {
    color: #303030;
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.6em;
    font-weight: 100;
    text-align: center;
    padding: .5em;
  }

  .bodytext {
    width: auto;
    margin: left;
    padding-right: 100px;
    padding-left: 100px;
    text-align: justify;
  }
  .yellow-hive-homepage {
    background-image: url('../images/hive-background-yellow.jpg');
    width: auto;
    margin-top: 1em;
    height: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1em;
  }

  #hivelogohomepage {
    text-align: center;
    position: absolute;
    padding-top: 1.3em;
    left: 14.5em;
    margin:0 auto;
  }

  .wfl2 {
    width: 60%;
    height: auto;
    text-align: center;
  }

  .hivelogo {
    color: #000000;
    font-family: 'Italiana';
    font-size: 3.8em;
    font-weight: 300;
    text-align: center;
  }

  .cloudproject {
    display: block;
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    font-weight: 100;
    line-height: .3em;
    text-align: center;
  }

  .homepage-pink-links {
    width: 600px;
    margin: 0 auto;
    line-height: .75em;
    padding: 1.2em;
    color: #DD7F7F;
  }

  .hivecasestudyh3 {
    color: #DD7F7F;
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
  }

  .roles {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    text-align: center;
  }

  .roles-container {
    width: 700px;
    margin: 0 auto;
    line-height: 1.3em;
  }

  h1 {
    color: #303030;
    font-family: 'Roboto';
    font-size: 1.3em;
    font-weight: 100;
  }

  .project-headers {
    color: #303030;
    font-family: 'Roboto';
    font-size: 1.8em;
    font-weight: 100;
  }

  .homepage-highlight-containers-longer {
    width: auto;
    margin: 1em auto;
    position: absolute;
    padding-left: 2em;
  }

  .banner-bar-text-G {
    background-image: url('../images/Grey-Banner-Bar.jpg');
    margin-top: 3em;
    margin-bottom: 3em;
    height: 6em;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bannerbar-G {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
    padding-left: 8em;
    line-height: 1.3em;
  }

  .banner-bar-text-P {
    background-image: url('../images/Pink-Banner-Bar.jpg');
    margin-top: 3em;
    margin-bottom: 3em;
    height: 8em;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .homepage-highlight-containers-long {
    width: auto;
    margin: 1em auto;
    position: absolute;
    padding-left: 2em;
    padding-top: .5em;
  }

  .bannerbar-P {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
    padding-left: 8em;
    line-height: 1.3em;
  }

  .details {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    font-weight: 300;
    text-align: left;
    line-height: 1em;
  }

  .column {
    float: left;
    width: 30%;
    display: block;
    padding: 10px;
  }

  .banner-bar-text-Y {
    background-image: url('../images/Yellow-Banner-Bar.jpg');
    margin-top: 3em;
    margin-bottom: 3em;
    height: 6em;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bannerbar-Y {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
    padding-left: 4em;
    line-height: 1.2em;
  }

  .bannerbar-G2 {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
    padding-left: 3em;
    line-height: 1.3em;
  }

  .banner-bar-text-G2 {
    background-image: url('../images/Grey-Banner-Bar.jpg');
    margin-top: 3em;
    margin-bottom: 3em;
    height: 6em;
    background-size: cover;
    background-repeat: no-repeat;
  }

}


@media screen and (min-width: 1199px) {
  .logohome {
    width: 100%;
    height: 100%;
  }
  .UXArch {
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.2em;
    color: #303030;
    font-weight: 100;
  }


  .hero {
    color: #C34A33;
    font-family: 'Yanone Kaffeesatz';
    font-size: 2.8em;
    font-weight: 100;
    text-align: center;
    float: right;
  }

  .hive-cluster {
    background-image: url('../images/Hive-Case-Study-Image.jpg');
    margin-top: 10px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .homepagehero-container {
    width:350px;
    line-height: 3em;
    vertical-align:top;
    display:inline-block;
    float:right;
  }

  .new-project-cluster-Y {
    background-image: url('../images/Yellow-Triangle-Sand.jpg');
    margin-top: 10px;
    margin-bottom: 10px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .new-project-cluster-P {
    background-image: url('../images/Pink-Triangle-Sand.jpg');
    margin-top: 10px;
    margin-bottom: 10px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .new-project-cluster-B {
    background-image: url('../images/Brown-Triangle-Sand.jpg');
    margin-top: 10px;
    margin-bottom: 10px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .newprojects-container {
    position: absolute;
    padding-left: 17em;
  }

  .newprojects {
    color: #303030;
    font-family: 'Yanone Kaffeesatz';
    font-size: 3em;
    width: 60%;
    font-weight: 50;
    text-align: center;
    line-height: 1em;
    margin: 0 auto;
    padding-top: 3.5em;
    padding-bottom: 2em;
  }

  .button {
    background-color: #FDCFBB;
    border: 2px solid #FDCFBB;
    color: #303030;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    margin: 2px 1px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .icon {
    border: none;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
  }

  .biohero-container {
    background-image: url('../images/Diana-Photo.jpg');
    width: auto;
    margin-top: 2em;
    height: 25em;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1em;
  }

  #biohero {
    color: #8A3524;
    width: 420px;
    font-family: 'Yanone Kaffeesatz';
    font-size: 2em;
    font-weight: 100;
    float: left;
    margin-left: 1.5em;
    text-align: center;
    padding-top: 1.5em;
    display: inline-block;
  }

  .name {
    color: #19675D;
    font-family: 'Yanone Kaffeesatz';
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .3em;
  }

  .titlebiopage {
    color: #303030;
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.6em;
    font-weight: 100;
    text-align: center;
    padding: .5em;
  }

  .bodytext {
    width: auto;
    margin: left;
    padding-right: 100px;
    padding-left: 100px;
    text-align: justify;
  }

  .yellow-hive-homepage {
    background-image: url('../images/hive-background-yellow.jpg');
    width: auto;
    margin-top: 1em;
    height: 45em;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1em;
  }

  #hivelogohomepage {
    text-align: center;
    position: absolute;
    padding-top: 4em;
    left: 24em;
    margin:0 auto;
  }

  .wfl2 {
    width: 60%;
    height: auto;
    text-align: center;
  }

  .hivelogo {
    color: #000000;
    font-family: 'Italiana';
    font-size: 3.8em;
    font-weight: 300;
    text-align: center;
  }

  .cloudproject {
    display: block;
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    font-weight: 100;
    line-height: .3em;
    text-align: center;
  }

  .homepage-pink-links {
    width: 600px;
    margin: 0 auto;
    line-height: .75em;
    padding: 1.2em;
    color: #DD7F7F;
  }

  .hivecasestudyh3 {
    color: #DD7F7F;
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
  }

  .roles {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    text-align: center;
  }

  .roles-container {
    width: 800px;
    margin: 0 auto;
    line-height: 1.3em;
  }

  .project-headers {
    color: #303030;
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: 100;
  }

  .homepage-highlight-containers-longer {
    width: auto;
    margin: 1em auto;
    position: absolute;
    padding-left: 2em;
  }

  .banner-bar-text-G {
    background-image: url('../images/Grey-Banner-Bar.jpg');
    margin-top: 3em;
    margin-bottom: 3em;
    height: 6em;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bannerbar-G {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    text-align: center;
    padding-left: 12em;
    line-height: 1.3em;
  }

  .bannerbar-Y {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    text-align: center;
    padding-left: 7em;
    line-height: 1.2em;
  }

  .banner-bar-text-P {
    background-image: url('../images/Pink-Banner-Bar.jpg');
    margin-top: 3em;
    margin-bottom: 3em;
    height: 8em;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .homepage-highlight-containers-long {
    width: auto;
    margin: 1em auto;
    position: absolute;
    padding-left: 2em;
    padding-top: .5em;
  }

  .bannerbar-P {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    text-align: center;
    padding-left: 10em;
    line-height: 1.2em;
  }

  .banner-bar-text-Y {
    background-image: url('../images/Yellow-Banner-Bar.jpg');
    margin-top: 3em;
    margin-bottom: 3em;
    height: 6em;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bannerbar-Y {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    text-align: center;
    padding-left: 7em;
    line-height: 1.2em;
  }

  .details {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    font-weight: 300;
    text-align: left;
    line-height: 1em;
  }

  .column {
    float: left;
    width: 30%;
    display: block;
    padding: 10px;
  }

  .bannerbar-G2 {
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    text-align: center;
    padding-left: 6em;
    line-height: 1.3em;
  }

  .banner-bar-text-G2 {
    background-image: url('../images/Grey-Banner-Bar.jpg');
    margin-top: 3em;
    margin-bottom: 3em;
    height: 6em;
    background-size: cover;
    background-repeat: no-repeat;
  }


}

/*Style the navigation menus */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/*Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display:none;
}

/*hamburger */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/*style the hamburger menu */
.topnav a.icon {
  background:black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/*Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}
