/*CSS Document */

/*** typography ***/
h1 {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.6em;
  font-weight: 100;
}

#hivelogo {
  color: #000000;
  font-family: 'Italiana';
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}

#hero {
  color: #C34A33;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2.65em;
  font-weight: 100;
  text-align: center;
}


#title {
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 1.75em;
  font-weight: 100;
  text-align: center;
}

#name {
  color: #19675D;
  font-family: 'Yanone Kaffeesatz';
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}

#biohero {
  color: #C34A33;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}

h2 {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15em;
  text-align: left;
  font-weight: 100;
}

#h2homepage {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.35em;
  font-weight: 100;
  text-align: center;
}

#cloud {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  text-align: center;
}

#newprojects {
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2.7em;
  font-weight: 50;
  text-align: center;
}

#contact {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}

#hivecasestudyh3 {
  color: #DD7F7F;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}

h3 {}

h4 {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

p {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 300;
  text-align: left;
}

#roles {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}

#biohighlights {
  color: #C34A33;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: left;
}

ul {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 500;
  text-align: left;
}

ol {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 500;
  text-align: left;
}

#bannerbar {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}

.yellow {
  color: #DAB73C;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.grey {
  color: #6E6868;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.pink {
  color: #DD7F7F;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

/*Navigation Top Bar*/
nav {
  background-color: #fff;
  height: 38px;
  position: fixed;
  width: 100%;
}

nav a{
    display: block;
    float: left;

/*font settings*/
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

/*box method*/
    background-color: #fff;
    border: 1px solid #fff;

  /*padding the box*/
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;

/*no link line decoration*/
  text-decoration: none;
  }

img.resize {
  align: center;
  height: auto;
  width:40%;
}

body {
/*font settings*/
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
}

#logo {
}
