/*CSS Document */

/*** typography ***/
h1 {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.6em;
  font-weight: 100;
}

#hivelogo {
  color: #000000;
  font-family: 'Italiana';
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}

#hero {
  color: #C34A33;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2.65em;
  font-weight: 100;
  text-align: center;
}


#title {
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 1.75em;
  font-weight: 100;
  text-align: center;
}

#name {
  color: #19675D;
  font-family: 'Yanone Kaffeesatz';
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}

#biohero {
  color: #C34A33;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}

h2 {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15em;
  text-align: left;
  font-weight: 100;
}

#h2homepage {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.35em;
  font-weight: 100;
  text-align: center;
}

#cloud {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  text-align: center;
}

#newprojects {
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2.7em;
  font-weight: 50;
  text-align: center;
}

#contact {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  text-align: center;
}

#hivecasestudyh3 {
  color: #DD7F7F;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}

h3 {}

h4 {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

p {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 300;
  text-align: justify;
}

#roles {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}

#biohighlights {
  color: #C34A33;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: left;
}

ul {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 500;
  text-align: left;
}

ol {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 500;
  text-align: left;
}

#bannerbar {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}

.yellow {
  color: #DAB73C;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.grey {
  color: #6E6868;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.pink {
  color: #DD7F7F;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

/*** button ***/
.button {
  background-color: #FDCFBB;
  border: 2px solid #FDCFBB;
  color: #303030;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  margin: 2px 1px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*BIO containers*/
div.biohero-container {
  width: 450px;
  margin: left;
  padding-left: 100px;
}

.picofme {
  width: 100%;
}

div.nametitle-container {
  width: auto;
  margin: center;
  line-height: 1em;
  padding-right: 10px;
  padding-left: 10px;
}

div.bodytext {
  width: auto;
  margin: left;
  padding-right: 100px;
  padding-left: 100px;
  text-align: justify;
}

/*HOMEPAGE containers*/
div.homepagehero-container {
  width:350px;
  line-height: 3em;
  float: right;
  padding-right: 200px;
}

div.homepagetitle-container {
  width:auto;
}

div.cloud {
  width:auto;
  line-height: .75em;
}

div.newprojects-container {
  width: 350px;
  line-height: 2.75em;
  margin: 0 auto;
}

div.homepage-pink-links {
  width: 600px;
  margin: 0 auto;
  line-height: .75em;
  padding: 10px;
}

div.homepage-highlight-containers-long {
  width: 650px;
  margin: 0 auto;
  line-height: .75em;
}

div.homepage-highlight-containers-longer {
  width: auto;
  margin: 0 auto;
  line-height: .75em;
}

div.roles-container {
  width: 800px;
  margin: 0 auto;
  line-height: 1.3em;
}

/*Navigation Top Bar*/
nav {
  background-color: #ffffff;
  height: 70px;
  position: Top;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

nav a{
    display: block;
    float: left;
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #fff;
    border: none;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-top: 30px;
    text-decoration: none;
  }

img.resize {
  align: center;
  height: auto;
  width:40%;
}

body {
/*font settings*/
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
}

#logo {
  border: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
