/*CSS Document */

/*** typography ***/
h1 {
  font-family: 'Roboto', sans-serif;
  color: #303030;
  font-size: 1.6em;
  font-weight: 300;
}

#hivelogo {
  text-align: center;
  color: #000000;
  font-family: 'Italiana';
  font-size: 3em;
}

@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local('Italiana'), local('Italiana-Regular'), url(http://themes.googleusercontent.com/static/fonts/italiana/v1/cyoET12_n3_FXMnTJZssYvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}

#hero {
  text-align: center;
  color: #C34A33;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2em;
  font-weight: 100;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 100;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/YDAoLskQQ5MOAgvHUQCcLbvy90DtE_Pg_qiF9bHvTzw.ttf) format('truetype');
}

#title {
  text-align: center;
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 1.5em;
  font-weight: 100;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #303030;
  font-size: 1.15em;
  text-align: left;
  font-weight: 500;
}

#h2homepage {
  font-family: 'Roboto', sans-serif;
  color: #303030;
  font-size: 1.35em;
  text-align: center;
  font-weight: 100;
}

#cloud {
  font-family: 'Roboto', sans-serif;
  color: #303030;
  font-size: 1.8em;
  text-align: center;
  font-weight: 100;
}

#newprojects {
  text-align: center;
  color: #303030;
  font-family: 'Yanone Kaffeesatz';
  font-size: 2.5em;
  font-weight: 50;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #303030;
  font-size: 18px;
  text-align: left;
  font-weight: 500;
}

h4 {
  font-family: 'Roboto', sans-serif;
  color: #303030;
  font-size: 18px;
  font-weight: 500;
}

p{
  font-family: 'Roboto', sans-serif;
  color: #303030;
  text-align: left;
  font-size: .8em;
  font-weight: 500;
}

ul {
  font-family: 'Roboto', sans-serif;
  color: #303030;
  text-align: left;
  font-size: .8em;
  font-weight: 500;
}

ol {
  font-family: 'Roboto', sans-serif;
  color: #303030;
  text-align: left;
  font-size: .8em;
  font-weight: 500;
}

/*Navigation Top Bar*/
nav {
  width: 100%;
  height: 38px;
    position: fixed;
  background-color: #fff;
}

nav a{
    display: block;
    float: left;
/*font settings*/
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #303030;
/*box method*/
    background-color: #fff;
    border: 1px solid #fff;
  /*padding the box*/
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
/*no link line decoration*/
  text-decoration: none;
  }

img.resize {
  width:40%;
  height: auto;
  align: center;
}

body {
/*font settings*/
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    color: #303030;
}

#logo {
}
